_site
.sass-cache
.jekyll-metadata
Gemfile.lock
_pages/.DS_Store
_posts/.DS_Store
assets/images/Exploit-Dev/OpenSIS/.DS_Store
assets/images/.DS_Store
assets/.DS_Store
assets/images/.DS_Store
assets/images/.DS_Store
