            * {
            box-sizing: border-box;
        }
        body {
            color: #878787;
            margin: 0;
            font-family: sans-serif;
            text-align: center;
        }
        a {
            text-decoration: none;
            color: black;
        }
        a:hover {
            color: lightgray;
        }

        .nav-header {
            height: 100px;
            background: #f0f5f5;
            display: flex;
        }

        .nav-div {
            margin: auto;
        }

        .logo-img {
            width: 120px;
            margin-left: 20px;
        }

        .search-icon {
            margin: 30px;
        }

        .nav-bar {
            list-style-type: none;
        }

        .nav-bar-list {
            display: inline-block;
        }

        .nav-bar-link {
            color: #878787;
            font-size: 24px;
            padding: 20px;
        }

        .main-header {
            height: 300px;
            background: url("imgs/1.jpeg") no-repeat center;
            background-size: cover;
        }

        .main-header-title {
            margin-top: 0;
            padding-top: 30px;
            text-align: left;
            font-size: 2.5em;
            color: #f7f8f9;
            text-transform: uppercase;
            font-weight: normal;
            padding-left: 75px;
            text-shadow: 3px 2px grey;
            position: absolute;
            right: 100px;
            top: 300px;
        }

        .main-header-intro {
            line-height: 1.5em;
            width: 50%;
            margin: auto;
            padding: 40px;
            color: white;
            text-align: justify;
        }

        .intro {
            width: 60%;
            margin: auto;
        }

        .button {
            display: block;
            background: #9dcc51;
            color: white;
            padding: 15px;
            font-size: 18px;
            width: 160px;
            margin: auto;
            text-decoration: none;
            margin-top: 20px;

        }

        .box {
            display: flex;
            width: 80%;
            margin: auto;
        }
        .box2 {
            display: inline-block;
            margin: auto;
            margin-right: 1%;
        }

        .card {
            width: 100%;
            padding: 20px;
            text-align: left;
            border: 1px grey solid;
            margin: 20px;
            margin-top: 40px;
            border-radius: 2px;
            background: #f0f5f5;
        }
        .card2 {
            
            padding: 20px;
            text-align: left;
            border: 1px grey solid;
            margin: 20px;
            margin-top: 40px;
            border-radius: 2px;
            background: #f0f5f5;

        }

        .footer {
            height: 40px;
            background: #f0f5f5;
            padding: 5px;
        }
        .codeblock{
            background-color: lightgray;
            margin: 10px;
            padding: 5px;
            padding-top: 8px;
            padding-bottom: 8px;
            border-radius: 1px;
            border: 1px grey solid;
        }

        .nav{
            margin-left: 10%;
            text-align: left;
            border: 1px solid;
            display: table;
            padding: 20px;
            padding-right: 40px;
            width: auto;
            background: #f0f5f5;
            border-radius: 22px;


        }
        #nav-container {
            background: #f0f5f5 none repeat scroll 0 0;
            border: 1px solid #aaa;
            display: table;
            font-size: 95%;
            margin-bottom: 1em;
            padding: 20px;
            width: auto;
            margin-left:10%;
            border-radius: 2px;
        }

        .nav-title {
            font-weight: 700;
            text-align: center;
        }
        #nav-container li, #nav-container ul, #nav-container ul li{
             list-style: outside none none !important;
        }
        .nav-list{
            text-align: left;
        }
        .FE {
            width: 13%;
            height: auto;
            float: right;
        }
        .red {
            width: 30%;
            height: auto;
            float: right;
        }
        .unh {
            width: 25%;
            height: auto;
            float: right;
        }
        .nhti {
            width: 25%;
            height: auto;
            float: right;
        }
        .bc {
            width: 175px;
            height: auto;
            float: right;
        }
        .oscp {
            width: 175px;
            height: auto;
            float: right;
        }
        .osep {
            width: 175px;
            height: auto;
            float: right;
        }
        .sec {
            width: 175px;
            height: auto;
            float: right;
        }

        @media only screen and (max-width: 600px) {
        .nav-header {
          display: block;
          flex-direction: column;
          background-color: #f0f5f5;
          height: 300px;
        }
        .nav-bar {
            display: flex;
            flex-direction: column;
            background-color: #f0f5f5;
        }
        .nav-bar-list {
          margin-top: 2px;
          background-color: lightgray;
          margin-right:10%;

        }
        .main-header-intro {
            width: 100%;
        }

        .box {
          display: inline-flex;
          flex-direction: column;
          margin-right: 10%;
        }
        .box2 {
          display: inline-flex;
          flex-direction: column;
          margin-right: 1%;
        } 

        }    
